// PROFILE

.profile {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.image-cover {
  height: 17rem;
  overflow: hidden;
  position: relative;

  & .upload-cover-input {
    display: none;
  }

  & .upload-cover-label {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    i {
      font-size: 1.6rem;
    }
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.social-content {
  position: relative;
  display: grid;
  grid-template-columns: auto 20vw;
  gap: 1rem;
  margin-top: -5rem;
  padding: 0 1rem;
}

.posts {
}

.newpost {
  display: flex;
  gap: 1rem;
}

.user-data {
  color: var(--color-dark);
  display: flex;
  justify-content: space-between;

  .user-data-left {
    margin-left: 1rem;

    .user-image {
      width: 12rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      transform: translateY(-2rem);
      border: solid 2px var(--color-gray);
    }

    .upload-profile-input {
      display: none;
    }

    .upload-profile-label {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(80, 80, 80, 0) 13%,
        rgba(47, 47, 47, 1) 100%
      );
      display: flex;
      align-items: end;
      padding: 1rem;
      justify-content: center;
      cursor: pointer;

      i {
        font-size: 3rem;
        color: white;
      }
    }

    .user-fullname {
      margin-left: 0.5rem;
      font-size: 2rem;
      margin-top: -2rem;
      font-weight: bold;
    }
  }

  .user-data-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: auto;
  }
}

.posts-bottom {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 2fr 6fr;
}

.posts-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.profile-info {
  width: 60%;
  // height: 20rem;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 1100px) {
  .posts-bottom {
    flex-direction: column;
  }

  .profile-info {
    width: 100%;
  }

  .social-content {
  }

  .posts-bottom {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .posts-bottom {
    flex-direction: column;
  }

  .profile-info {
    width: 100%;
  }

  .social-content {
    grid-template-columns: 1fr none;
  }

  .posts-bottom {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .user-data-right {
    flex-direction: column;
    align-items: flex-end !important;
  }
}

@media only screen and (max-width: 800px) {
  .user-data {
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .friends {
    display: none;
  }
  .social-content {
    grid-template-columns: auto;
  }
}
