<div class="container">
  <app-sidebar></app-sidebar>

  <div class="profile">
    <div class="image-cover">
      <img src="{{ IMAGE_SRC }}{{ userData?.profile?.cover_image }}" />
    </div>

    <div class="social-content">
      <div class="posts">
        <div class="newpost">
          <div class="content user-data">
            <div class="user-data-left">
              <div class="user-image">
                <img
                  [src]="
                    profileUrl !== null
                      ? profileUrl
                      : IMAGE_SRC + userData?.profile_image
                  "
                />
                @if (isMyProfile) {
                <input
                  class="upload-profile-input"
                  id="upload-profile-image"
                  type="file"
                  (change)="handleProfileImage($event)"
                />
                <label for="upload-profile-image" class="upload-profile-label">
                  <i class="uil uil-camera-plus"></i>
                </label>
                }
              </div>
              <div class="user-fullname">
                {{ userData?.first_name }} {{ userData?.last_name }}
              </div>
            </div>

            <div class="user-data-right">
              @if (file) {
              <button class="btn btn-submit" (click)="uploadNewImage()">
                Send new Photo
              </button>
              <button class="btn btn-danger">Cancel</button>
              } @if (!isMyProfile) {
              <a
                [routerLink]="['/conversation', userData?.id]"
                class="btn btn-primary"
                >send message</a
              >
              @if (!this.friendStatus) {
              <button
                class="btn btn-outline"
                (click)="sendFriendRequest(userData!.id)"
              >
                add friend
              </button>
              }@else if (this.friendStatus?.status == 0) {
              <button
                class="btn btn-outline"
                (click)="deleteFriendRequest(userData!.id)"
              >
                delete friend request
              </button>
              }@else if (this.friendStatus?.status == 1) {
              <div>Friend accepted</div>
              } @else {
              <div></div>
              } }
            </div>
          </div>
        </div>

        <div class="posts-bottom">
          <div class="content profile-info"></div>

          <div class="posts-container">
            @for (post of posts; track post.id; let idx = $index, e = $even) {
            <div class="content post">
              <div class="head">
                <div class="user">
                  <div class="profile-photo">
                    <!-- <img
                      src="/assets/images/278131694_959477194761572_7052423625085698959_n.jpg"
                      alt=""
                    /> -->
                  </div>
                  <div class="info">
                    <h3>
                      {{
                        post.creator.first_name + " " + post.creator.first_name
                      }}
                    </h3>
                    <small>Dubai, 15 MINUTES AGO</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="uil uil-ellipsis-h"></i>
                </span>
              </div>

              <div class="post-body">
                {{ post.content }}
              </div>

              @if(post.attachments.length > 0) { @for (attachment of
              post.attachments; track attachment.path) {
              <div class="photos">
                <img src="{{ IMAGE_SRC + attachment.path }}" />
              </div>
              } }

              <div class="action-buttons">
                <div class="interaction-buttons">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmarks">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span>
                  <!-- <img
                    src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
                  /> -->
                </span>
                <span>
                  <!-- <img
                    src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
                  /> -->
                </span>
                <span>
                  <!-- <img
                    src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
                  /> -->
                </span>
                <p>Liked by <b>Ernest Achiever</b> and <b>2,232 others</b></p>
              </div>

              <div class="caption">
                <p>
                  <b>Damian Bigos</b> Lorem ipsum asdasd asd12 1poda sjdojjas.
                  <span>#lifestyle</span>
                </p>
              </div>
              <div class="comments text-muted">View all 277 comments</div>
            </div>
            }@empty {
            <li>There are no items.</li>
            }
          </div>
        </div>
      </div>

      <div class="friends">
        <div class="search-friends">
          <span class="icon">
            <i class="uil uil-search"></i>
          </span>
          <input placeholder="Search chats" />
          <span>r</span>
        </div>

        <div class="content recomended-friends">
          @for (rec_user of recomended_users; track rec_user.id) {
          <a
            [routerLink]="['/profile', rec_user.id]"
            class="recomended-friend-card"
          >
            <div class="profile-photo">
              <img src="{{ IMAGE_SRC }}{{ rec_user.profile_image }}" />
            </div>
            <div>
              <div>{{ rec_user.first_name }} {{ rec_user.last_name }}</div>

              <div>
                {{ rec_user.email }}
              </div>
            </div>
          </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
