.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  overflow: hidden;
}

// PROFILE

.profile {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-left: 8rem;
}

.image-cover {
  height: 17rem;
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.social-content {
  display: grid;
  grid-template-columns: auto 20vw;
  gap: 1rem;
  margin-top: -5rem;
  padding: 0 1rem;
}

.posts {
}

.newpost {
  display: flex;
  gap: 1rem;
}

.user-data {
  height: 14rem;
  color: var(--color-dark);
  display: flex;
  justify-content: space-between;

  .user-data-left {
    margin-left: 1rem;

    .user-image {
      width: 12rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      transform: translateY(-2rem);
      border: solid 2px var(--color-gray);
    }

    .upload-profile-input {
      display: none;
    }

    .upload-profile-label {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(80, 80, 80, 0) 13%,
        rgba(47, 47, 47, 1) 100%
      );
      display: flex;
      align-items: end;
      padding:1rem ;
      justify-content: center;
      cursor: pointer;

      i {
        font-size: 3rem;
        color: white;
      }
    }

    .user-fullname {
      margin-left: 0.5rem;
      font-size: 2rem;
      margin-top: -2rem;
      font-weight: bold;
    }
  }

  .user-data-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: auto;
  }
}

.posts-bottom {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 4fr 6fr;
}

.posts-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
}

.profile-info {
  width: 60%;
  height: 20rem;

  .head {
    .profile-image {
    }

    .profile-info {
    }
  }

  .profile-stats {
  }
}

.post {
  .head {
    display: flex;
    justify-content: space-between;

    .user {
      display: flex;
      gap: 0.6rem;

      .info small {
        color: var(--color-gray);
      }
    }
  }

  .post-body {
    margin-top: 0.6rem;
  }

  & .photos {
    margin-top: 0.6rem;
    border-radius: var(--card-border-radius);
    overflow: hidden;
  }

  & .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    margin: 0.2rem 0.2rem;

    & .interaction-buttons {
      display: flex;
      gap: 1rem;
    }
  }

  & .liked-by {
    display: flex;

    & span {
      width: 1.4rem;
      height: 1.4rem;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid var(--color-white);
      margin-left: -0.6rem;
    }

    & span:first-child {
      margin: 0;
    }

    & p {
      margin-left: 0.5rem;
    }
  }
}

.content {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.6rem;
  border-radius: var(--card-border-radius);
  background: var(--color-white);
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-friends {
  height: 3.5rem;
  border-radius: var(--border-radius);
  background: var(--color-white);
  border: var(--color-primary) 2px solid;
  overflow: hidden;
  position: relative;

  & .icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.4rem;

    i {
      font-size: 1.6rem;
    }
  }

  & input {
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 2.6rem;

    &::placeholder {
      color: var(--color-gray);
    }
  }
}

.recomended-friends {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: var(--font-middle);
}

.recomended-friend-card {
  display: flex;
  gap: 0.6rem;
}

@media only screen and (max-width: 1200px) {
  .profile {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .posts-bottom {
    flex-direction: column;
  }

  .profile-info {
    width: 100%;
  }

  .social-content {
    grid-template-columns: auto 30vw;
  }

  .posts-bottom {
    grid-template-columns: 1fr;
  }
}
