<div class="post">
  <div class="post-header">
    <a [routerLink]="['/profile', post.creator.id]" class="post-creator">
      <img
        class="post-creator-photo"
        src="{{ IMAGE_SRC + post.creator.profile_image }}"
        alt=""
      />
      <div class="post-creator-info">
        <h3 class="creator-fullname">
          {{ post.creator.first_name + " " + post.creator.first_name }}
        </h3>
        <small class="post-created-at">{{ post.created_at | dateAgo }}</small>
      </div>
    </a>

    <app-dropdown>
      <div class="options-button" dropdown-toggle>
        <i class="uil uil-ellipsis-h"></i>
      </div>

      <div class="dropdown-menu" content>
        <button (click)="deletePost()" class="dropdown-menu-item">
          <span> Delete </span>
        </button>
        <button class="dropdown-menu-item">
          <span> Report </span>
        </button>
      </div>
    </app-dropdown>
  </div>

  <div class="post-content">
    {{ post.content }}
  </div>

  @if(post.attachments.length > 0) {
  <div class="post-attachments">
    <!-- @for (attachment of post.attachments; track attachment.path) { -->
    <a
      [routerLink]="['/post']"
      [queryParams]="{ pid: post.id, img: post.attachments[0].id }"
      class="photos"
    >
      <img src="{{ IMAGE_SRC + post.attachments[0].path }}" />
    </a>
    <!-- } -->
  </div>
  }

  <div class="action-buttons">
    <div class="interaction-buttons">
      <span><i class="uil uil-heart"></i></span>
      <span><i class="uil uil-comment-dots"></i></span>
      <span><i class="uil uil-share-alt"></i></span>
    </div>
    <div class="bookmarks">
      <span><i class="uil uil-bookmark-full"></i></span>
    </div>
  </div>

  <div class="liked-by">
    <span>
      <!-- <img
        src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
      /> -->
    </span>
    <span>
      <!-- <img
        src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
      /> -->
    </span>
    <span>
      <!-- <img
        src="/assets/images/279123994_524159142568242_2553083085503793696_n.jpg"
      /> -->
    </span>
    <p>Liked by <b>Ernest Achiever</b> and <b>2,232 others</b></p>
  </div>

  @if (post.comments.length > 0){
  <div class="post-comments">
    @for (comment of post.comments; track comment.id) {
    <div class="post-comment">
      <img
        class="comment-user-photo"
        src="{{ IMAGE_SRC + post.creator.profile_image }}"
        alt=""
      />

      <div class="comment-content">
        <div class="comment-user-fullname">
          {{ comment.user.first_name }} {{ comment.user.first_name }}
        </div>
        <p class="comment-content-body">
          {{ comment.content }}
        </p>
      </div>

      <div class="comment-options">
        <app-dropdown>
          <div class="options-button" dropdown-toggle>
            <i class="uil uil-ellipsis-h"></i>
          </div>

          <div class="dropdown-menu" content>
            <button
              (click)="deleteComment(comment.id)"
              class="dropdown-menu-item"
            >
              <span> Delete </span>
            </button>
            <button class="dropdown-menu-item">
              <span> Report </span>
            </button>
          </div>
        </app-dropdown>
      </div>
    </div>
    }
  </div>
  @if (!isCommentsToggle && post.comments_length > 2) {

  <button (click)="loadMoreComments()" class="all-comments text-muted">
    View all {{ post.comments_length }} comments
  </button>
  } @else if(isCommentsToggle){
  <button (click)="toggleComments()" class="all-comments text-muted">
    Show less comments
  </button>
  } } @else {
  <div class="all-comments text-muted">No comments yet</div>
  }
  <form
    [formGroup]="commentForm"
    (ngSubmit)="submitCommentForm()"
    class="comment-form"
  >
    <input
      class="comment-input"
      formControlName="comment"
      id="comment"
      placeholder="Type your comment..."
    />
    <button class="comment-submit" type="submit">Submit</button>
  </form>
</div>
