@if (loading()) {
<div>loading</div>

} @else {

<nav>
  <ul>
    <li>
      <a
        routerLink="/welcome"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Second Component</a
      >
    </li>
  </ul>
</nav>

<auth-form></auth-form>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
}
