.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  overflow: hidden;
}

// PROFILE

.profile {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-left: 8rem;
}

.image-cover {
  height: 17rem;
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.social-content {
  display: grid;
  grid-template-columns: auto 20vw;
  gap: 1rem;
  margin-top: -5rem;
  padding: 0 1rem;
}

.create-post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.create-post {
  .post-images-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    height: 10rem;
    overflow-x: scroll;
    max-width: max-content;
    width: 100%;
  }

  .post-image-preview {
    height: 10rem;
    width: auto;
    border-radius: var(--card-border-radius);
  }
}

.trends {
  .groups-link {
    color: var(--color-primary);
    font-size: var(--font-small);
    font-weight: bold;
  }
}

.posts-bottom {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 4fr 6fr;
}

.profile-info {
  width: 100%;
  height: 20rem;

  .head {
    .profile-image {
    }

    .profile-info {
    }
  }

  .profile-stats {
  }
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-friends {
  height: 3.5rem;
  border-radius: var(--border-radius);
  background: var(--color-white);
  border: var(--color-primary) 2px solid;
  overflow: hidden;
  position: relative;

  & .icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.4rem;

    i {
      font-size: 1.6rem;
    }
  }

  & input {
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 2.6rem;

    &::placeholder {
      color: var(--color-gray);
    }
  }
}



@media only screen and (max-width: 1200px) {
  .profile {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .posts-bottom {
    flex-direction: column;
  }

  .profile-info {
    width: 100%;
  }

  .social-content {
    grid-template-columns: auto 30vw;
  }

  .posts-bottom {
    grid-template-columns: 1fr;
  }
}
