<div class="sidebar">
  <a routerLink="/" class="sidebar-item" routerLinkActive="active-link">
    <span>
      <i class="uil uil-home"></i>
    </span>
    <h3>Home</h3>
  </a>

  <a
    routerLink="/conversations"
    class="sidebar-item"
    routerLinkActive="active-link"
    id="messages-notifications"
  >
    <span>
      <i class="uil uil-envelope-alt">
        <small class="notification-count">6</small>
      </i>
    </span>
    <h3>Messages</h3>
  </a>

  <a routerLink="#" class="sidebar-item" routerLinkActive="active-link">
    <span>
      <i class="uil uil-bell"> </i>
      <small class="notification-count">9+</small>
    </span>
    <h3>Notifications</h3>
    <div class="notification-popup">
      <div>
        <div class="profile-photo">
          <!-- <img
            src="/assets/images/278131694_959477194761572_7052423625085698959_n.jpg"
            alt=""
          /> -->
        </div>
        <div class="notification-body">
          <b>Damian Bigos</b> accepted your friend request
          <small class="text-muted">2 DAYS AGO</small>
        </div>
      </div>

      <div>
        <div class="profile-photo">
          <!-- <img
            src="/assets/images/278131694_959477194761572_7052423625085698959_n.jpg"
            alt=""
          /> -->
        </div>
        <div class="notification-body">
          <b>Damian Bigos</b> accepted your friend request
          <small class="text-muted">2 DAYS AGO</small>
        </div>
      </div>
    </div>
  </a>

  <a
    routerLink="/bookmarks"
    class="sidebar-item"
    routerLinkActive="active-link"
  >
    <span>
      <i class="uil uil-bookmark"></i>
    </span>
    <h3>Bookmarks</h3>
  </a>

  <a routerLink="#" class="sidebar-item" routerLinkActive="active-link">
    <span>
      <i class="uil uil-chart-line"></i>
    </span>
    <h3>Analytics</h3>
  </a>

  <a routerLink="/comments" class="sidebar-item" routerLinkActive="active-link">
    <span>
      <i class="uil uil-comment-alt-lines"></i>
    </span>
    <h3>Comments</h3>
  </a>

  <a routerLink="#" class="sidebar-item" routerLinkActive="active-link">
    <span>
      <i class="uil uil-settings"></i>
    </span>
    <h3>Settings</h3>
  </a>
</div>
