@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: #f0eef6;
  --color-gray: hsl(0, 0%, 26%);
  --color-primary: hsl(202, 75%, 60%);
  --color-secondary: hsl(207, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: #151221;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --medium-border-radius: 0.6rem;
  --small-border-radius: 0.3rem;

  --btn-padding: 0.6rem 1rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --medium-padding: 0.6rem;
  --small-padding: 0.3rem;

  --font-small: 0.75rem;
  --font-medium: 0.85rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;

  --navbar-height: 4rem;

  --shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
  transition: background 0.2s ease, color 0.2s ease;
}

body[data-theme="dark"] {
  --color-white: #1e1e1e;
  --color-light: #111111;
  --color-gray: hsl(0, 0%, 47%);
  --color-primary: hsl(202, 75%, 60%);
  --color-secondary: hsl(207, 75%, 19%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(0, 0%, 88%);
  --color-black: hsl(0, 0%, 92%);
}

body {
  font-family: "Poppins", "sans-serif";
  color: var(--color-dark);
  background: var(--color-light);
  height: 100vh;
}

a {
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.btn-outline {
  border: 2px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

.btn-outline {
  border: 2px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

.btn-danger {
  background: transparent;
  color: rgb(189, 0, 0);
  border: 2px solid rgb(189, 0, 0);
}

.btn-submit {
  background: transparent;
  color: rgb(48, 152, 0);
  border: 2px solid rgb(48, 152, 0);
}

.btn-white {
  background: transparent;
  color: var(--color-primary);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

// form css

.form {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  

  .form-group {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      width: 100%;
      color: var(--color-black);
      background: var(--color-light);
      border-radius: var(--medium-padding);
      padding: var(--medium-padding);
    }
  }
  button {
    background: var(--color-light);
    color: var(--color-black);
  }
}

input,
textarea {
  color: var(--color-black);
}
button {
  background: var(--color-light);
  color: var(--color-black);
}

// card white
.card-white {
  width: 100%;
  box-shadow: var(--shadow-medium);
  padding: 0.6rem;
  border-radius: var(--card-border-radius);
  background: var(--color-white);
}

// three dots
.options-button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 50%;
  background: var(--color-light);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--shadow-medium);
  }

  i {
    font-size: 1.2rem;
  }
}

// dropdown menu

.dropdown-menu {
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.dropdown-menu-item {
  border-radius: 0.6rem;
  text-align: start;
  padding: 0.4rem 0.6rem;
  background: var(--color-white);

  &:hover {
    background: var(--color-light);
  }
}
