nav {
  width: 100%;
  height: var(--navbar-height);
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-dropdown-menu {
  width: 16rem;
  display: flex;
  flex-direction: column;
  padding: var(--medium-padding);

  .nav-dropdown-menu-item {
    border-radius: var(--medium-border-radius);
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    text-align: start;
    cursor: pointer;
    
    span {
      font-size: 1rem;
      font-weight: normal;
    }

    &:hover {
      background: var(--color-light);
    }
  }
}
