<nav>
  <div class="container">
    <h2>
      <a class="desktop-logo" routerLink="/"> ConnectEdge </a>
      <a class="mobile-logo" routerLink="/"> CE </a>
    </h2>

    <div class="search-bar">
      <i class="uil uil-search"></i>
      <input
        type="search"
        placeholder="Search for friends, inspiration and projects"
      />
    </div>

    <div class="user-menu">
      @if (isDarkMode) {
      <span (click)="toggleTheme()">
        <i class="uil uil-sun"></i>
      </span>
      } @else {
      <span (click)="toggleTheme()">
        <i class="uil uil-moon"></i>
      </span>
      }

      <!-- dropdown -->
      @if (authUser) {
      <app-dropdown>
        <div class="options-button" dropdown-toggle>
          <div class="profile-photo">
            <img src="{{ IMAGE_SRC + authUser.profile_image }}" />
          </div>
        </div>

        <div class="nav-dropdown-menu" content>
          <a
            [routerLink]="'/profile/' + authUser.id"
            class="nav-dropdown-menu-item"
          >
            <span> Show Profile </span>
          </a>
          <button class="nav-dropdown-menu-item" (click)="logout()">
            <span> Log out </span>
          </button>
        </div>
      </app-dropdown>

      }
    </div>

    <!-- <ng-template #modalTemplate>
      <button (click)="closeModal()">x</button>
      <app-auth-modal></app-auth-modal>
    </ng-template> -->

    <!-- {{authService?.getUser}} -->
  </div>
</nav>
