<nav class="navigation">
  <ul class="navigation_">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        Home
      </a>
    </li>

    <li>
      <a
        routerLink="/profile/1"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Profile
      </a>
    </li>

    <li>
      <a routerLink="profile/7">{{ this.authService.user()?.email }}</a>
    </li>

    <li>
      <button (click)="logout()">logout</button>
    </li>
  </ul>
</nav>
