<nav>
  <div class="container">
    <h2>ConnectEdge</h2>
    <div class="search-bar">
      <i class="uil uil-search"></i>
      <input
        type="search"
        placeholder="Search for friends, inspiration and projects"
      />
    </div>

    <div class="create">
      <label class="btn btn-primary" for="create-post">Create</label>
      <div class="profile-photo">
        <img src="/assets/images/278131694_959477194761572_7052423625085698959_n.jpg" />
      </div>
    </div>
  </div>

  <!-- <ul class="navigation">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        Home
      </a>
    </li>

    <li>
      <a
        routerLink="/profile/1"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Profile
      </a>
    </li>

    <li>
      <a routerLink="profile/7">{{ this.authService.user()?.email }}</a>
    </li>

    <li>
      <button (click)="logout()">logout</button>
    </li>
  </ul> -->
</nav>
